@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body{
  background-color: rgb(33, 99, 71);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
